/* _content/CompanyApp.Components.Irrigation/Component1.razor.rz.scp.css */
.my-component[b-c7p053as09] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
